body {
    background-color: black;
}

h1 {
    color: white;
}

#score {
    color: white;
    text-align: center;
}

#game {
    width: 560px;
    height: 560px;
    display: flex;/*ce display gére les div a l'interieur de la div game*/
    flex-wrap: wrap;
    margin: auto;
}

/*Css pour les div (les 0,1,2,3,4) crée en JS*/
#game div {
    width: 20px;
    height: 20px;
}

#game div.pac-dots { /* classe css pour les div "pac-dots" créer en JS*/
    background-color: rgb(216, 135, 14);
    border-radius: 50%;
    box-sizing: border-box;/*methode css qui fait des bordure sans changer la taille de l'élément*/
    border: black solid 6px;/*et on rajoute border en white pour réduir le point*/
}

#game div.mur { /* classe css pour les div "mur" créer en JS*/
    background-color: rgb(30, 30, 243);
}

#game div.ghost-lair { /* classe css pour les div "ghost aera" créer en JS*/
    background-color: gray;
}

#game div.ghost {
    background-color: red;
    border-radius: 35%;
    border: black solid 3px;
    box-sizing: border-box;
}

#game div.power-pellet { /* classe css pour les div "power-pallet" créer en JS*/
    background-color: rgba(47, 211, 32, 0.87);
    border-radius: 50%;
    box-sizing: border-box;/*methode css qui fait des bordure sans changer la taille de l'élément*/
    border: black solid 4px;/
}

#game div.empty { /* classe css pour les div "ampty" créer en JS*/
    background-color:"";
}


#game div.pacman {
    background-color:yellow;
    border-radius: 50%;
    box-sizing: border-box;/*methode css qui fait des bordure sans changer la taille de l'élément*/
    border: black solid 1px;/
}